/* line 6, ../sass/test.scss */
#foo {
  content: 'No Media Queries';
}
@media (min-width: 543px) {
  /* line 6, ../sass/test.scss */
  #foo {
    content: 'Basic Media Query';
  }
}
@media (min-width: 456px) and (max-width: 794px) {
  /* line 6, ../sass/test.scss */
  #foo {
    content: 'Paired Media Query';
  }
}
